.cards {
    margin: 5%;
}

img {
    border-radius: 10px;
    transition: 0.3s ease;
    display: block;
    width: 100%;
    z-index: 999;
    box-shadow: 3px 14px 32px -4px rgb(0, 0, 0, 0.29);
    box-shadow: 3px 14px 32px -4px rgb(0, 0, 0, 0.29);
}

img:hover {
    cursor: pointer;
    transform: scale(1.01);
    -webkit-box-shadow: 3px 14px 32px -4px rgba(0, 0, 0, 0.51);
    box-shadow: 3px 14px 32px -4px rgba(0, 0, 0, 0.51);
    z-index: 999;
}