:root {
    --card_width: 200px;
    --card_small: 26;
    --card_medium: 33;
    --card_large: 45;
    --row_increment: 10px;
}

body {
    background-color: #fafafa;
    margin: 0;
}

footer {
    box-shadow: -1px -6px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.page-footer {
    background: rgb(170, 16, 16);
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

.css-tlfecz-indicatorContainer {
    color: black !important;
}

.css-1gtu0rj-indicatorContainer {
    color: black !important;
}

.css-yk16xz-control {
    background: rgb(196 205 196) !important;
    border-style: none !important;
}

.css-1pahdxg-control {
    border-color: #f50057 !important;
    box-shadow: 0 0 0 1px #f50057!important;
}

.css-1pahdxg-control:hover {
    box-shadow: rgb(240, 46, 46) !important;
    border-color: rgb(231, 51, 51) !important;
}