:root {
    --card_width: 300px;
    --card_small: 26;
    --card_medium: 33;
    --card_large: 45;
    --row_increment: 10px;
}

body {
    background-color: #fafafa;
}

.navbar {
    background: #C022F5;
}

.page-footer {
    background: #C022F5;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

.selectD {
    width: 100px;
}