:root {
    --card_width: 300px;
    --card_small: 26;
    --card_medium: 33;
    --card_large: 45;
    --row_increment: 10px;
}

body {
    background-color: #fafafa;
}

.navbar {
    padding: 15px 4%;
    background: #ffffff;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: 900;
    width: 100%;
}

.page-footer {
    background: #ffff;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

.selectD {
    width: 100px;
}

.input-navbar {
    margin: 0 2%;
    background: #fafafa;
    width: 28rem;
    border: none;
    text-align: left;
    justify-content: center;
    padding: 4%;
    border-radius: 18px;
    height: 2rem;
}

.input-navbar:hover {
    background: #ececec;
}

.input-navbar:focus {
    outline: none;
    border: 1px solid rgb(180, 165, 165);
}

.d-flex {
    align-items: center;
}

.btn {
    height: 36px;
    width: 70px;
    color: white;
    background: #3040B7;
    border-radius: 0.35rem;
}